

.content {
  padding: 20px;
}
.card-row {
  display: flex;
  flex-wrap: wrap;
  /*justify-content: space-between; Adjust the spacing between cards*/

  padding: 20px;
  
}

.card {
  flex: 0 0 calc(15% - 22.5px); /* Adjust the card width and spacing */
  width: 230px; /* Set the maximum width of the cards to 200px */
  border: 1px solid #ccc;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 10px; /* Adjust the margin between rows */
  margin-right: 30px; /* Adjust the margin between cards */
}


.card:last-child {
  margin-right: 0; /* Remove margin from the last card in each row */
}

  .card-content {
    padding: 20px;
  }
  
  .image-container {
    position: relative;
    margin-bottom: 10px;
  }
  
  .card-image {
    width: 100%;
    border-radius: 10px;
  }
  
  .icon {
    width: 24px;
    height: 24px;
  }
  
  .project_title {
    font-weight: bold;
    font-size: 18px;
    color: #1B2559;
    margin-bottom: 5px;
  }
  
  
  .pm {
    color: #888;
    margin-bottom: 5px;
  }
  
  .edit {
    display: inline-block;
    margin-top: 10px; /* Medium devices (md) and above */
    margin-left: 80px; /* Add margin to the left */
    cursor: pointer;
    transition: background-color 0.3s;
  }
  

  
  .edit span {
    display: inline-block;
    background-color:#4318FF;
    color: #fff; /* White color */
    font-size: 14px; /* Small font size */
    font-weight: 500; /* Medium font weight */
    border-radius: 70px; /* Rounded button */
    padding: 5px 24px; /* Padding */
    width: 30px; /* Button width */
    height: 25px; /* Button height */
    text-align: center; /* Center text */
    line-height: 24px; /* Line height for vertical centering */
  }
  
  
  .edit:hover {
    transform: translateX(-5px); /* Move the button slightly to the left on hover */
  }
  
  /* Keyframes for shaking animation */
  @keyframes shake {
    0% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    100% { transform: translateX(-5px); }
  }
  
  .edit:hover span {
    animation: shake 0.5s infinite; /* Apply the shaking animation to the button text */
  }
  